#heading{
    text-align: center;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.timer {
    font-size: 36px;
    width: 50px;
    height: 60px;
    font-family: sans-serif;
    color: #333;
  }
  




  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }